{% extends "layout.html" %}

{% block main %}
  <h1>{{ title }} by {{ author }}</h1>
  <h4>year: {{ year }}</h4>
  <h6>ISBN: {{ book['books'][0]['isbn'] }}</h6>
  This book has an average rating of {{ book['books'][0]['average_rating'] }} with {{ book['books'][0]['work_reviews_count'] }} reviews.
  {% if reviews %}
    <div class="review">
      <h1> REVIEWS <h1>
      {% for review in reviews %}
        <h4>{{ review.rating }}/5 "{{ review.title }}" -{{ review.username }}</h4>
        <h5>{{ review.review }}</h5>
      {% endfor %}
    </div>
  {% endif %}
  {% if not alreadyposted %}
    <div class="postReview">
      <h1>POST REVIEW<h1>
      <form action="/review" method="POST">
        <div class="form-group">
          <label for="reviewRating">Rating</label>
          <select name="rating" class="form-control" id="reviewRating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="reviewTitle">Title</label>
          <input name="title" type="text" class="form-control" id="reviewTitle">
        </div>
        <div class="form-group">
          <label for="reviewReview">Review</label>
          <textarea name="review" class="form-control" id="reviewReview" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <input name="isbn" type="hidden" value="{{ isbn }}"/>
      </form>
    </div>
  {% endif %}
{% endblock %}


{% block main %}
<h1> Search Results </h1>
  {% for book in books %}
      <h4><a href="{{ url_for('api', isbn=book.isbn)}}">{{ book.title }}</a></h4>
  {% endfor %}
{% endblock %}

<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Book name">
  <title>{{ book.title }}</title>
  <rect fill="#55595c" width="100%" height="100%"></rect>
  <text fill="#eceeef" dy=".3em" x="50%" y="50%">{{ book.title }}</text>
</svg>
